/* Calendar container */
.calendar-container {
  width: max-content;
  border: 1px solid black;
  height: 300px;
}

/* Calendar topbar */
.calendar-topbar {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.date-field-container {
  display: flex;
}
.date-field-container > label {
  margin: 0 5px;
}

/* Calendar grid */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.day-filter-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Calendar tile */
.calendar-tile {
  /* border: 1px solid black; */
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.selected {
  background-color: #9d03fc;
}

.selected > p {
  color: white;
}
